<style>
  .banner-desktop{
    {% if section.settings.background-d == blank %}
        background-image: url(https://cdn.shopify.com/s/files/1/0656/6576/1443/files/background-pattern.png?v=1717690006);
    {% else %}
        background-image: url('{{ section.settings.background-d | img_url: 'master' }}') ;
    {% endif %}
  }
@media screen and (max-width:991px){
  .banner-mobile-bg-wrapper{
    {% if section.settings.background-m == blank %}
      background-image: url(https://cdn.shopify.com/s/files/1/0656/6576/1443/files/mobile-bg.png?v=1717861171);
    {% else %}
        background-image: url('{{ section.settings.background-m | img_url: 'master' }}') ;
    {% endif %}
  }
}
</style>
<section id="banner">
  <div class="banner-top-area" style="background-color:{{ section.settings.header_bgcolor }};">
    <div class="custom-container">
      <div class="banner-top-bar-wrapper">
        {% if section.settings.logo != blank %}
        <div class="logo-blk">
          <img src="{{ section.settings.logo | img_url: 'master' }}">
        </div>
        {% endif %}
        {% if section.settings.header_caption != blank %}
        <div class="caption-blk for-desktop">
          <p>{{  section.settings.header_caption }}</p>
        </div>
        {% endif %}
        {% if section.settings.top_btn_text != blank %}
        <div class="btn-blk for-desktop">
          <a href="{{ section.settings.top_btn_link }}" class="btn">{{ section.settings.top_btn_text }}<img src="https://cdn.shopify.com/s/files/1/0656/6576/1443/files/Line_15.png?v=1717694667"></a>
        </div>
        {% endif %}
      </div>
      <a href="#menu" id="toggle" class="for-mobile"><span></span></a>
      <div id="menu" style="background-color:{{ section.settings.header_bgcolor }};">
        {% if section.settings.header_caption != blank or section.settings.top_btn_text != blank%}
        <div class="caption-blk">
          <p>{{  section.settings.header_caption }}</p>
          <a href="{{ section.settings.top_btn_link }}" class="btn">{{ section.settings.top_btn_text }}<img src="https://cdn.shopify.com/s/files/1/0656/6576/1443/files/Line_15.png?v=1717694667"></a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="banner-desktop for-desktop">
    <div class="content-wrapper">
      <div class="content-blk" style="background-color:{{ section.settings.box_bgcolor }}; color:{{ section.settings.box_text_color }};">
          {% if section.settings.title != blank %}
          <h1 class="heading">{{ section.settings.title }}</h1>
          {% endif %}
          {% if section.settings.description != blank %}
              {{ section.settings.description }}
          {% endif %}
          {% if section.settings.btn_text != blank %}
              <a href="{{ section.settings.btn_link }}" class="btn">{{ section.settings.btn_text }}<img src="https://cdn.shopify.com/s/files/1/0656/6576/1443/files/Line_15.png?v=1717694667"></a>
          {% endif %}
      </div>
    </div>
  </div>
  <div class="banner-mobile for-mobile">
    <div class="content-blk-mob" style="background-color:{{ section.settings.box_bgcolor }}; color:{{ section.settings.box_text_color }};">
      {% if section.settings.title != blank %}
        <h1 class="heading">{{ section.settings.title }}</h1>
      {% endif %}
      {% if section.settings.description != blank %}
        {{ section.settings.description | truncate: 60 }}
      {% endif %}
    </div>
    <div class="banner-mobile-bg-wrapper">
      {% if section.settings.btn_text != blank %}
        <div class="banner-mob-cta">
          <a href="{{ section.settings.btn_link }}" class="btn">{{ section.settings.btn_text }}<img src="https://cdn.shopify.com/s/files/1/0656/6576/1443/files/Line_15.png?v=1717694667"></a>
        </div>  
      {% endif %}
    </div>
  </div>


  {% if section.settings.caption-text != blank %}
    <div class="caption-bar" style="background-color:{{ section.settings.caption_bar_bgcolor }}; color:{{ section.settings.caption_bar_textcolor }}">
      <div class="custom-container">
        <p>{{ section.settings.caption-text }}</p>
      </div>
    </div>
    {% endif %}
</section>

{% schema %}
{
  "name": "Cusatom Banner",
  "settings": [
    {
      "type": "header",
      "content": "Banner Top Content Customizable Content"
    },
    {
      "type": "color",
      "id": "header_bgcolor",
      "label": "Select Header Background Color",
      "default": "#F5F5F5"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Select Logo"
    },
    {
      "type": "text",
      "id": "header_caption",
      "label": "Add Header Caption Text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "top_btn_text",
      "label": "Add Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "top_btn_link",
      "label": "Add Button link"
    },
    {
      "type": "image_picker",
      "id": "background-d",
      "label": "Select Background Image [Desktop]"
    },
   {
      "type": "image_picker",
      "id": "background-m",
      "label": "Select Background Image [Mobile]"
    },
    {
      "type": "color",
      "id": "box_bgcolor",
      "label": "Select Content Box Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "box_text_color",
      "label": "Select Content Box Text Color",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Add Title",
      "default": "The Gift Guide"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "Enter Description",
      "default": "<p>Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>"
    },

    {
      "type": "text",
      "id": "btn_text",
      "label": "Add Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Add Button link"
    },
    {
      "type": "color",
      "id": "caption_bar_bgcolor",
      "label": "Select Caption Bar Background Color",
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "id": "caption_bar_textcolor",
      "label": "Select Caption Bar text Color",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "caption-text",
      "label": "Add Caption Text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}